.gpt3__header {
  display: flex;
  flex-direction: row;
}

.gpt3__header-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  margin-right: 5rem;
  margin-left: 5rem;
}

.gpt3__header-content h1 {
  font-weight: 800;
  font-size: 69px;
  line-height: 75px;
  letter-spacing: -0.04em;
}

.gpt3__header-content p {
  font-weight: 800;
  font-size: 25px;
  line-height: 35px;
  align-items: center;


  margin-top: 1.5rem;
}

.gpt3__header-content__input {
  width: 100%;
  margin: 2rem 0 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;

}

.gpt3__header-content__input input {
  flex: 2;
  width: 100%;
  min-height: 50px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  background: var(--color-footer);
  border: 2px solid var(--color-footer);
  padding: 0 1rem;
  outline: none;
  color: #fff;

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.gpt3__header-content__input button {
  flex: 0.6;
  width: 25%;
  min-height: 60px;
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 20px;
  line-height: 28px;
  background: #FF4820;
  border: 2px solid #FF4820;
  padding: 0 1rem;
  color: #fff;
  cursor: pointer;
  outline: none;
  align-items: center;

  border-radius: 50px;
}

.gpt3__header-content__people {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;

  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.gpt3__header-content__people img {
  width: 130px;
  border-radius: 90px;
  margin-left: 50px;
  
}

.gpt3__header-content__people p {
  margin: 0 0 0 1rem;
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 20px;
  line-height: 38px;
  color: #fff;
  text-align: center;
}

.gpt3__header-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1px;
  margin-bottom: 1600px;
  margin-right: 60px;
}

.gpt3__header-image img {
  width: 35%;
  border-radius: 120px;
  position: fixed;
}

.demo {
  display: flex;
  justify-content: center;
  padding-right: 20px;
  margin-left: 5px;
  
}
.B {
  flex-direction: row-reverse;
}

#demo-1 {
  margin-right: 8%;
  margin-left: 8%;
  margin-bottom: 80px;
  margin-top: 80px;
}

#demo-2 {
  margin-right: 8%;
  margin-left: 8%;
  margin-bottom: 80px;
}

#demo-3 {
  margin-right: 8%;
  margin-left: 8%;
  margin-bottom: 80px;
}

#demo-4 {
  margin-right: 8%;
  margin-left: 8%;
  margin-bottom: 80px;
}

#demo-5 {
  margin-right: 8%;
  margin-left: 8%;
  margin-bottom: 10px;
}

.gif {
  border-radius: 10px;
  border: solid #ffffff 3px;
}

.div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  margin-right: 5rem;
}

#get-started {
  width: fit-content;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  align-self: center;
  & a {
    font-size: 30px;
  }
}

